<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
	<table class="table">
		<thead class="table-dark">
			<tr>
				<th>No.</th>
				<th>일자</th>
				<th>품목명</th>
				<th>품목코드</th>
				<th>담당자</th>
				<th>담당자사번</th>
				<th>수량</th>
				<th>규격</th>
			</tr>	
		</thead>
		<tbody>
			<tr th:each="inventory, loop : ${paging}">
				<td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
				<th>
					<a th:href="@{|/inventory/detail/${inventory.id}|}" th:text="${inventory.INDate}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.ININame}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.INICode}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.INPName}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.INPNum}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.INQuantity}"></a>
				</th>
				<th>
					<th:text="@{|/inventory/${inventory.id}|}" th:text="${inventory.INStandard}"></a>
				</th>
			</tr>
		</tbody>
	</table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                    th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->
	<a th:href="@{/inventory/create}" class="btn btn-primary"> 재고조정</a>
</dvi>




	